.cart__title {
  margin: 0;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

.cart__total {
  text-align: right;
  font-size: 1.5rem;
}

.cart__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart__order {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
