.photo {
  position: relative;
}

.favorite {
  color: var(--red);
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: 0.7;
}

.cart {
  color: var(--blue);
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
