/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;

  --max-width: 1170px;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  border-color: lightgray;
}

.page-100 {
  min-height: calc(100vh - 5rem);
}

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
